display-flex,
.display-flex,
.display-flex-center,
.signin-content,
.social-login,
.socials {
  display:flex;
  display:-webkit-flex
}
img {
  max-width:100%;
  height:auto
}
p {
  margin-bottom:0;
  font-size:15px;
  color:#777
}
h2 {
  line-height:1.66;
  margin:0;
  padding:0;
  font-weight:700;
  color:#222;
  font-family:Poppins;
  font-size:36px
}
.main {
  background:#f8f8f8;
  padding:50px 0
}
body {
  font-size:13px;
  line-height:1.8;
  color:#222;
  background:#f8f8f8;
  font-weight:400;
  font-family:Poppins
}
.container {
  width:900px;
  background:#f0fff0;
  margin:0 auto;
  box-shadow:0 15px 16.83px .17px rgba(0,0,0,.05);
  -moz-box-shadow:0 15px 16.83px .17px rgba(0,0,0,.05);
  -webkit-box-shadow:0 15px 16.83px .17px rgba(0,0,0,.05);
  -o-box-shadow:0 15px 16.83px .17px rgba(0,0,0,.05);
  border-radius:20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
}
.signin-form,
.signin-image {
  width:50%;
  overflow:hidden
}
.form-title {
  margin-bottom:33px
}
.form-submit {
  display:inline-block;
  background:#6dabe4;
  color:#fff;
  border-bottom:none;
  width:auto;
  padding:15px 39px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  margin-top:25px;
  cursor:pointer
}
.form-submit:hover {
  background:#4292dc
}
#signin {
  margin-top:16px
}
.register-form {
  width:100%
}
.form-group {
  position:relative;
  margin-bottom:25px;
  overflow:hidden
}
.form-group:last-child {
  margin-bottom:0
}

input {
  width:100%;
  display:block;
  border:none;
  border-bottom:1px solid #999;
  padding:6px 30px;
  font-family:Poppins;
  box-sizing:border-box
}
input[type=checkbox]:not(old) {
  width:2em;
  margin:0;
  padding:0;
  font-size:1em;
  display:none
}
input[type=checkbox]:not(old)+label {
  display:inline-block;
  line-height:1.5em;
  margin-top:6px
}
input[type=checkbox]:not(old)+label>span {
  display:inline-block;
  width:13px;
  height:13px;
  margin-right:15px;
  margin-bottom:3px;
  border:1px solid #999;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  background:#fff;
  background-image:-moz-linear-gradient(white,white);
  background-image:-ms-linear-gradient(white,white);
  background-image:-o-linear-gradient(white,white);
  background-image:-webkit-linear-gradient(white,white);
  background-image:linear-gradient(white,white);
  vertical-align:bottom
}
input[type=checkbox]:not(old):checked+label>span:before {
  content:'\f26b';
  display:block;
  color:#222;
  font-size:11px;
  line-height:1.2;
  text-align:center;
  font-weight:700
}
.signin-image-link {
  font-size:14px;
  color:#222;
  display:block;
  text-align:center
}
.signin-content {
  padding-top:110px;
  padding-bottom:87px;
  margin-top: 90px
}
.signin-form {
  margin-right:90px;
  margin-left:80px
}
.signin-image {
  margin-left:110px;
  margin-right:20px;
  margin-top:10px
}
@media screen and (max-width:1200px) {
  .container {
    width:calc( 100% - 30px);
    max-width:100%
  }
}
@media screen and (min-width:1024px) {
  .container {
    max-width:1200px
  }
}
@media screen and (max-width:768px) {
  .signin-content {
    flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    justify-content:center;
    -webkit-justify-content:center;
  }
  .signin-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    order: 2;
    text-align: center;
  }
  .signin-form,
  .signin-image {
    width:auto
  }
  .form-button {
    text-align:center
  }

  .signin-form {
    order: 1;
    margin-right: 0;
    margin-left: 0;
    padding: 0 30px
  }

  .form-title {
    text-align: center
  }
}

.impressum {
  padding: 0;
  margin: 0;
}
