<section class="sign-in">
  <div class="container">
    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="./../../assets/images/sign___in-up/sign-in.jpeg" alt="sign up image"></figure>
        <a (click)="goToSignUp()" class="signin-image-link">Create an account</a>
      </div>
      <div class="signin-form">
        <h2 class="form-title">Sign in</h2>
        <form method="POST" class="register-form" id="login-form">
          <div class="form-group">
            <label for="username"><i></i></label>
            <input type="text" name="username" id="username" placeholder="Your username">
          </div>
          <div class="form-group">
            <label for="your_pass"><i></i></label>
            <input type="password" name="your_pass" id="your_pass" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term">
            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
          </div>
          <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  <imprint></imprint>
</footer>
