/** Global CSS styles for the application. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Styles for the footer component. */
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/** Styles for the menu within the footer component. */
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

/** Styles for individual menu items within the footer component. */
.menu_item {
  list-style: none;
}

/** Styles for links within the menu of the footer component. */
.menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

/** Styles for hovered links within the menu of the footer component. */
.menu_link:hover {
  opacity: 1;
}

/** Styles for paragraphs within the footer component. */
.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/** Styles for the wave background element within the footer component. */
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

/** Styles for specific waves within the footer component. */
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

/** Keyframes for animating the wave background element. */
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/** Media query for adjusting footer margin on smaller screens. */
@media screen and (max-height: 850px) {
  .footer {
    margin-top: 100px;
  }
}

/** Styles for the cancel button. */
.cancel-button:hover {
  filter: brightness(90%);
}

.cancel-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px;
}

.cancel-button {
  background-color: #607D8B;
  color: #fff;
}

.headline-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  font-size: 22px;
  margin-bottom: 10px;
}
