<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="column" id="about">
        <h6 translate="imprint.headline_about"></h6>
        <p class="text-justify" translate="imprint.text_about"></p>
      </div>

      <div class="column">
        <h6 translate="imprint.headline_app"></h6>
        <ul class="footer-links">
          <p translate="imprint.text_app"></p>
        </ul>
      </div>

      <div class="column">
        <h6 translate="imprint.headline_quick_links"></h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/" translate="imprint.link_about_us"></a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Home</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
          <a href="#">Scanfcode</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
