.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.copyright-text {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-right: 0px; /* Add padding to reduce the space between columns and the edge */
    padding-left: 0px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
  }

  .column {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 20px;
  }

  #about {
    width: 100%;
    text-align: center;
  }
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  width: 20%;
  text-align: center;
}

#about {
  width: 30%;
  text-align: left;
}
