<h2>{{ 'logged-in-homepage.labels.headline_labels' | translate }}</h2>
<button mat-raised-button color="primary"
        routerLink='/logged-in-homepage/create-label'>{{ 'logged-in-homepage.labels.button_create_label' | translate }}
</button>
<p>{{ 'logged-in-homepage.labels.text_your_labels' | translate }}</p>
<div *ngIf="labelsData && labelsData.length > 0; else noLabels" class="label-container">
  <div *ngFor="let labelData of labelsData" class="label-item">
    <mat-card class="card">
      <mat-card-header (click)="showEntries(labelData.label.labelId)">
        <div class="dot" [style.background-color]="'#' + labelData.colourHex"></div>
        <mat-card-title>{{ labelData.label.labelName }}</mat-card-title>
        <mat-card-subtitle>{{ labelData.label.labelDescription }}</mat-card-subtitle>
      </mat-card-header>
      <button class="delete"
              (click)="deleteLabel(labelData.label.labelId)">{{ 'logged-in-homepage.button_delete' | translate }}
      </button>
      <button routerLink="/logged-in-homepage/update-label/{{labelData.label.labelId}}"
              class="edit">{{ 'logged-in-homepage.button_update' | translate }}
      </button>
    </mat-card>
  </div>
</div>
<ng-template #noLabels>
  <p>{{ 'logged-in-homepage.labels.text_no_labels' | translate }}</p>
</ng-template>
