<!-- Headline for labels -->
<h2>{{ 'logged-in-homepage.labels.ui_headline_labels' | translate }}</h2>

<!-- Button to create a new label -->
<button class="create-button headline-button"
        routerLink='/logged-in-homepage/create-label'>{{ 'logged-in-homepage.labels.create-label.ui_button_create_label' | translate }}
</button>

<!-- Text describing the purpose of labels -->
<p>{{ 'logged-in-homepage.labels.ui_text_your_labels' | translate }}</p>

<!-- Container for displaying labels -->
<div *ngIf="labelsData && labelsData.length > 0; else noLabels" class="item-container">

  <!-- Iterate over each label data -->
  <div *ngFor="let labelData of labelsData" class="item">

    <!-- Material card for each label -->
    <mat-card class="item-card">

      <!-- Header of the card, clickable to show entries -->
      <mat-card-header (click)="showEntries(labelData.label.labelId)">
        <div class="colour-dot" [style.background-color]="'#' + labelData.colourHex"></div>
        <mat-card-title>{{ labelData.label.labelName }}</mat-card-title>
        <mat-card-subtitle>{{ labelData.label.labelDescription }}</mat-card-subtitle>
      </mat-card-header>

      <!-- Button to delete the label -->
      <button class="delete-button item-button"
              (click)="deleteLabel(labelData.label.labelId)">{{ 'logged-in-homepage.button_delete' | translate }}
      </button>

      <!-- Button to update the label -->
      <button routerLink="/logged-in-homepage/update-label/{{labelData.label.labelId}}"
              class="update-button item-button">{{ 'logged-in-homepage.button_update' | translate }}
      </button>
    </mat-card>
  </div>
</div>

<!-- Template for when there are no labels -->
<ng-template #noLabels>
  <p>{{ 'logged-in-homepage.labels.ui_text_no_labels' | translate }}</p>
</ng-template>
