/* Styles for the container of entry items */
.entry-container {
  gap: 16px;
  overflow: scroll;
  height: 483px;
}

/* Styles for individual entry cards */
.card {
  min-height: 156px;
  border: #111111 2px solid;
  background: #a6accb;
  cursor: pointer;
  margin-bottom: 5px;
}

/**
 * Hover styles for cards.
 */
.card:hover {
  background: #8489a2;
}

/* Styles for subtitles within entry cards */
mat-card-subtitle {
  margin-top: 22px;
  font-size: 19px;
  color: black;
}

/* Styles for content within entry cards */
mat-card-content {
  margin-top: 17px;
  font-size: 17px;
  color: black;
}

/* Styles for the right column layout */
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert die Elemente vertikal */
  align-items: center;
}

/* Additional styles for elements within the right column */
.elements-right-column {
  padding: 25px;
}

/* Styles for delete and edit buttons */
.delete,
.edit {
  display: inline-block;
  border: none;
  width: 66px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  right: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
}

/* Styles for the remove button */
.delete {
  margin-right: 10px;
}

/* Styles for container of selected labels */
.edit {
  margin-right: 80px;
}

/* Styles for the remove button */
.remove {
  margin-right: 10px;
  display: inline-block;
  border: none;
  width: 222px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  right: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
}

/* Styles for container of selected labels */
.selected-labels {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  font-weight: bold;
  flex-direction: row;
}

/* Styles for individual selected labels */
.selected-label {
  border: none;
  color: #808080;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/**
 * Styles for the hover effect on selected labels.
 */
.selected-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(60%);
}

/* Grid layout styles for card content */
.mat-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Styles for paragraphs within cards */
.card-p {
  font-size: 18px;
  color: black;
}

/* Styles for the dropdown button */
.dropdown-button {
  position: absolute;
  background-color: #3586ff;
  border: none;
  transform: translateY(-50%);
  right: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
}

/**
 * Hover styles for dropdown buttons.
 */
.dropdown-button:hover {
  background-color: #71aaff;
}

/* Styles for the dropdown menu */
.dropdown-menu {
  position: absolute;
  font-weight: bold;
  right: 15px;
  top: 40px;
  background-color: #cbcfe1;
  border: 1px solid;
  max-height: 88px;
  border-radius: 5px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 9998;
}

/* Additional styles for dropdown menu within a label */
.dropdown-menu-in-label {
  top: 53px;
  max-height: 77px;
}

/* Styles for individual items in the dropdown menu */
.dropdown-menu-item {
  margin-bottom: 5px;
}

/* Font weight style for specific labels */
.bold-label {
  font-weight: bold;
}

/* Media query for smaller screens */
@media (max-width: 1588px) {
  .mat-card-content {
    display: block;
    gap: 20px;
  }

  .entry-container {
    height: 422px;
  }

  .card {
    height: auto;
  }

  .go-back,
  .create {
    padding: 10px;
  }

  .dropdown-menu {
    top: 292px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 515px) {
  .dropdown-menu {
    top: 313px;
  }
}
