/* Styles for the container of entry items */
.entry-container {
  gap: 16px;
  overflow: scroll;
  height: 483px;
}

/* Styles for individual entry cards */
.card {
  min-height: 156px;
  border: #111111 2px solid;
  background: #a6accb;
  margin-bottom: 5px;
}

/**
 * Hover styles for cards.
 */
.card:hover {
  background: #8489a2;
}

/**
 * Styles for title and subtitle within card.
 */
mat-card-title,
mat-card-subtitle {
  min-width: 525px;
  max-width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styles for subtitles within entry cards */
mat-card-subtitle {
  margin-top: 22px;
  font-size: 19px;
  color: black;
}

/* Styles for the connection to the subcategory in which the entry is located */
.subcategory {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  cursor: pointer;
  color: #917669;
  border-radius: 5px;
  padding: 5px;
  margin-top: 0;
}

/* Styles for content within entry cards */
mat-card-content {
  margin-top: 17px;
  font-size: 17px;
  color: black;
}

/* Styles for the right column layout */
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert die Elemente vertikal */
  align-items: center;
}

/* Additional styles for elements within the right column */
.elements-right-column {
  padding: 25px;
}

/* Styles for delete and edit buttons */
.delete,
.edit {
  display: inline-block;
  border: none;
  width: 74px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  right: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
}

/* Styles for the remove button */
.delete {
  margin-right: 10px;
}

/* Styles for container of selected labels */
.edit {
  margin-right: 88px;
}

/* Styles for the remove button */
.remove {
  margin-right: 10px;
  display: inline-block;
  border: none;
  width: 222px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  right: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
}

/* Styles for container of selected labels */
.selected-labels {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  font-weight: bold;
  flex-direction: row;
  white-space: nowrap;
  overflow: scroll;
  max-width: 655px;
}

/* Styles for individual selected labels */
.selected-label {
  border: none;
  color: #917669;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Styles for the hover effect on selected labels.
 */
.selected-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(60%);
}

mat-card-content {
  margin-top: 5px;
}

/* Grid layout styles for card content */
.mat-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Styles for paragraphs within cards */
.card-p {
  font-size: 18px;
  color: black;
}

/* Styles for the dropdown button */
.dropdown-button {
  position: absolute;
  background-color: #3586ff;
  border: none;
  transform: translateY(-50%);
  right: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
}

/**
 * Hover styles for dropdown buttons.
 */
.dropdown-button:hover {
  background-color: #71aaff;
}

/* Styles for the dropdown menu */
.dropdown-menu {
  position: absolute;
  font-weight: bold;
  right: 15px;
  top: 39px;
  background-color: #cbcfe1;
  border: 1px solid;
  max-height: 50px;
  border-radius: 5px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 9998;
  display: none;
}

/* adjusting the dropdown menu's position when the entry label page is open */
.label-entry-page-dropdown {
  margin-top: 7px;
}

/* Show dropdown menu when the dropdown button is focused or hovered over, or when the dropdown menu itself is hovered over. */
.dropdown-button:focus + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

/* Hide dropdown menu when neither the dropdown button nor the dropdown menu itself are hovered over. */
.dropdown-button:not(:hover) + .dropdown-menu:not(:hover) {
  display: none;
}

/* Additional styles for dropdown menu within a label */
.dropdown-menu-in-label {
  top: 53px;
  max-height: 77px;
}

/* Styles for individual items in the dropdown menu */
.dropdown-menu-item {
  margin-bottom: 5px;
  max-width: 333px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styles for the label within the dropdown menu */
.dropdown-menu-item label {
  cursor: pointer;
}

/* Font weight style for specific labels */
.bold-label {
  font-weight: bold;
}

/* Media query for smaller screens */
@media (max-width: 1588px) {
  .mat-card-content {
    display: block;
    gap: 20px;
  }

  .selected-labels {
    max-width: 100%;
  }

  mat-card-title,
  mat-card-subtitle {
    min-width: 1000px;
    max-width: 1000px;
  }

  .entry-container {
    height: 422px;
  }

  .card {
    height: auto;
  }

  .go-back,
  .create {
    padding: 10px;
  }

  .dropdown-menu {
    top: 292px;
  }
}

@media (max-width: 1111px) {
  mat-card-title,
  mat-card-subtitle {
    min-width: 500px;
    max-width: 500px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 515px) {
  .dropdown-menu {
    top: 292px;
  }

  .label-entry-page-dropdown {
    margin-top: 70px;
  }

  mat-card-title,
  mat-card-subtitle {
    min-width: 400px;
    max-width: 400px;
  }
}
