/* Styles for the container of entry items */
.entries-container {
  gap: 16px;
  overflow: scroll;
  height: 483px;
}

/* Styles for individual entry cards */
.card {
  min-height: 156px;
  border: #111111 2px solid;
  background: #a6accb;
  margin-bottom: 5px;
}

/* Hover styles for cards. */
.card:hover {
  background: #8489A2;
}

/* Grid layout styles for card content */
.card-paragraph-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Styles for the mat-card-header */
mat-card-header {
  margin-top: -10px;
}

/* Styles for the mat-card-content */
mat-card-content {
  margin-top: 8px !important;
}

/* Styles for title and subtitle within card. */
mat-card-title,
mat-card-subtitle {
  min-width: 525px;
  max-width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styles for subtitles within entry cards */
mat-card-subtitle {
  margin-top: 22px;
  font-size: 19px;
  color: black;
}

/* Font weight style for specific labels */
.bold-label {
  font-weight: bold;
}

/* Styles for the connection to the subcategory in which the entry is located */
.subcategory-link-on-label-entries {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  cursor: pointer;
  color: #917669;
  border-radius: 5px;
  padding: 5px;
  margin-top: 0;
}

/* Styles for content within entry cards */
mat-card-content {
  margin-top: 17px;
  font-size: 17px;
  color: black;
}

/* Styles for the right column layout */
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Additional styles for elements within the right column */
.elements-right-column {
  padding: 25px;
}

/* Styles for delete and edit buttons */
.delete,
.edit {
  display: inline-block;
  border: none;
  width: 74px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  right: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
}

/* Styles for the remove button */
.delete {
  margin-right: 10px;
}

/* Styles for container of selected labels */
.edit {
  margin-right: 88px;
}

/* Styles for the remove button */
.remove-on-label-entries {
  margin-right: 10px;
  display: inline-block;
  border: none;
  width: 222px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  right: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
}

/* Styles for container of selected labels */
.selected-labels {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  font-weight: bold;
  flex-direction: row;
  white-space: nowrap;
  overflow: scroll;
  max-width: 555px;
  margin-right: 5px;
}

/* Styles for individual selected labels */
.selected-label {
  border: none;
  color: #917669;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styles for the hover effect on selected labels. */
.selected-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(60%);
}

/* Styles for paragraphs within cards */
.card-paragraphs {
  font-size: 18px;
  color: black;
}

/* Styles for the dropdown button */
.dropdown-button {
  position: absolute;
  border: none;
  transform: translateY(-50%);
  right: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
}

/* Styles for the dropdown menu */
.dropdown-menu {
  position: absolute;
  font-weight: bold;
  right: 10px;
  top: 40px;
  background-color: #8489A2;
  border: 1px solid;
  max-height: 84px;
  border-radius: 5px;
  overflow-y: auto;
  padding: 10px;
  z-index: 9998;
  display: none;
}

/* Styles for the button in the dropdown menu */
.button-inside-dropdown-menu {
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 10px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 10px;
}

/* adjusting the dropdown menu's position when the entry label page is open */
.dropdown-on-label-entries {
  top: 74px;
  max-height: 111px;
}

/* Show dropdown menu when the dropdown button is focused or hovered over, or when the dropdown menu itself is hovered over. */
.dropdown-button:focus + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

/* Hide dropdown menu when neither the dropdown button nor the dropdown menu itself are hovered over. */
.dropdown-button:not(:hover) + .dropdown-menu:not(:hover) {
  display: none;
}

/* Styles for individual items in the dropdown menu */
.dropdown-menu-item {
  margin-bottom: 5px;
  max-width: 333px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styles for the label within the dropdown menu */
.dropdown-menu-item input,
.dropdown-menu-item label {
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 1588px) {
  .card-paragraph-column {
    display: block;
    gap: 20px;
  }

  .selected-labels {
    max-width: 97%;
  }

  mat-card-title,
  mat-card-subtitle {
    min-width: 1000px;
    max-width: 1000px;
  }

  .entries-container {
    height: 416px;
  }

  .entries-container-on-label-entries {
    height: 488px;
  }

  .card {
    height: auto;
  }

  .go-back,
  .create {
    padding: 10px;
  }

  .dropdown-on-label-entries {
    margin-top: 73px;
    max-height: 86px;
  }

  .dropdown-menu {
    top: 292px;
  }
}

@media (max-width: 1111px) {
  mat-card-title,
  mat-card-subtitle {
    min-width: 500px;
    max-width: 500px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 515px) {
  .dropdown-menu {
    top: 291px;
  }

  .dropdown-on-label-entries {
    top: 296px;
    max-height: 86px;
  }

  mat-card-title,
  mat-card-subtitle {
    min-width: 400px;
    max-width: 400px;
  }
}
