.entry-container {
  gap: 16px;
  overflow: scroll;
  height: 483px;
}

.go-back {
  margin-left: 20px;
}

.card {
  border: #111111 2px solid;
  color: black;
  margin-bottom: 5px;
  height: 156px;
  background: #a6accb;
}

mat-card-subtitle {
  margin-top: 22px;
  font-size: 19px;
  color: black;
}

mat-card-content {
  margin-top: 17px;
  font-size: 17px;
  color: black;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert die Elemente vertikal */
  align-items: center;
}

.elements-right-column {
  padding: 25px;
}

.delete,
.edit {
  display: inline-block;
  border: 3px solid;
  width: 66px;
  height: 26px;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
}

.delete {
  margin-right: 10px;
  background: red;
}

.edit {
  margin-right: 80px;
  background: green;
}

.selected-labels {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  font-weight: bold;
  flex-direction: row;
}

.selected-label {
  border: 2px solid;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}

.mat-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Abstand zwischen den Spalten */
}

.dropdown-button {
  position: absolute;
  background-color: #3586ff;
  border: #111111 2px solid;
  transform: translateY(-50%);
  right: 10px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 9999; /* Stellt sicher, dass der Button über anderen Elementen liegt */
}

.dropdown-menu {
  position: absolute;
  font-weight: bold;
  right: 15px;
  top: 35px;
  background-color: #cbcfe1;
  border: 1px solid;
  max-height: 88px;
  border-radius: 5px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 9998;
}

.dropdown-menu-in-label {
  top: 53px;
  max-height: 77px;
}

.dropdown-menu-item {
  margin-bottom: 5px;
}

@media (max-width: 999px) {
  .mat-card-content {
    display: block; /* Ändere den Wert auf block, um die Elemente untereinander anzuzeigen */
    gap: 20px; /* Abstand zwischen den Elementen */
  }

  .entry-container {
    height: 422px;
  }

  .dropdown-menu {
    top: 300px;
  }

  .card {
    height: auto;
  }

  .go-back,
  .create {
    padding: 10px;
  }

  .dropdown-menu {
    top: 282px;
  }
}

/* TODO: Wenn die Höhe es nicht erlaubt soll der .category-container kleiner werden, damit alle Categories angezeigt werden können */
