.entry-container {
  gap: 16px;
  overflow: scroll;
  height: 566px;
}

.go-back {
  margin-left: 20px;
}

.card {
  border: #111111 2px solid;
  color: black;
  margin-bottom: 5px;
  height: 180px;
  background: #a6accb;
}

.delete,
.edit {
  display: inline-block;
  border: 3px solid;
  width: 66px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 88%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
}

.delete {
  margin-right: 10px;
  background: red;
}

.edit {
  margin-right: 80px;
  background: green;
}

.selected-labels {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.selected-label {
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
}
