.entry-container {
  gap: 16px;
  overflow: scroll;
  height: 566px;
}

.card {
  border: #111111 2px solid;
  margin-bottom: 5px;
  height: 180px;
  background: #40476D;
  filter: brightness(3);
}

.delete,
.edit {
  display: inline-block;
  border: 3px solid;
  width: 66px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 88%;
  transform: translateY(-50%);
  border-radius: 5px;
  filter: brightness(1);
  font-weight: bold;
}

.delete {
  margin-right: 10px;
  background: red;
}

.edit {
  margin-right: 80px;
  background: green;
}
