/**
 * Global styles
 * Apply global styles such as font family and text color to all elements.
 */
* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  margin: 0;
}

/**
 * Page layout styles
 * Define styles for page layout elements.
 */
.page-div {
  height: 100vh;
  padding-top: 10px;
}

.page-content {
  margin: 10px;
}

/**
 * Button styles
 * Define common styles for buttons and specific styles for each button type.
 */

.create-button:hover,
.update-button:hover,
.delete-button:hover,
.cancel-button:hover {
  filter: brightness(90%);
}

.create-button:focus,
.update-button:focus,
.delete-button:focus,
.cancel-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px;
}

/**
 * Specific button styles
 * Define specific background colors for each button type.
 */
.create-button {
  background-color: #2196F3;
  color: #fff;
}

.update-button {
  background-color: #4CAF50;
  color: #fff;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
}

.cancel-button {
  background-color: #607D8B;
  color: #fff;
}

/**
 * Form styles
 * Define styles for form elements.
 */
.form {
  max-width: 777px;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 22px;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #c6e1ff;
  color: #2C5282;
}

.form-actions {
  margin-top: 20px;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.form-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-size: 22px;
  margin-bottom: 10px;
}

/**
 * Label styles
 * Define styles for label elements.
 */

.headline-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  font-size: 22px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow: scroll;
  height: 455px;
}

.item {
  flex: 1 1 calc(33.33% - 16px);
  max-width: calc(33.33% - 16px);
}

.item-card {
  min-height: 100px;
  border: #111111 2px solid;
  color: black;
  background: #a6accb;
}

.colour-dot {
  content: "";
  display: inline-block;
  border: #111111 3px solid;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  margin-right: 10px;
}

.item-button {
  display: inline-block;
  border: none;
  width: 66px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 77%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
}

.item-button.delete-button {
  margin-right: 10px;
}

.item-button.update-button {
  margin-right: 80px;
}

@media screen and (max-width: 768px) {
  .item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .item-container {
    height: calc(100vh - 45vh);
  }
}
