* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  margin: 0;
}

.page-div {
  height: 100vh;
  background-color: #40476D;
  padding-top: 10px; /* Neuer Abstand oben */
}

.page-content {
  margin: 10px;
}
