.subcategory-form {
  max-width: 777px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 22px; /* Angepasste Schriftgröße */
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 18px; /* Angepasste Schriftgröße */
  border: 1px solid black;
  border-radius: 5px;
  background-color: #c6e1ff;
  color: #2C5282;
}

.form-actions {
  margin-top: 20px;
  text-align: right;
}

button {
  margin-left: 10px;
  font-size: 22px; /* Angepasste Schriftgröße */
}

@media (max-width: 768px) {
  .form-actions {
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: 10px;
  }
}

