<form #subcategoryForm="ngForm" (ngSubmit)="onSubmit(subcategoryForm.value)">
  <label for="subcategoryName">Subcategory Name:</label>
  <input type="text" id="subcategoryName" name="subcategoryName" [(ngModel)]="subcategory.subcategoryName" required>
  <br>

  <label for="subcategoryDescription">Subcategory Description:</label>
  <textarea id="subcategoryDescription" name="subcategoryDescription" [(ngModel)]="subcategory.subcategoryDescription"></textarea>
  <br>

  <label>Subcategory Colour:</label>
  <app-colour-picker (colourSelected)="onColourSelected($event)"></app-colour-picker>
  <br>

  <button type="submit" mat-raised-button color="primary">Submit</button>
  <button type="cancel" mat-raised-button color="warn" (click)="returnToSubcategories()">Cancel</button>
</form>
