<div class="login-div">
  <section class="login-section">
    <div class="login-content">
      <div class="register-div">
        <button (click)="goToSignUp()" id="go-to-register" class="form-submit"
                translate="authorisation.sign-in.text_create_account"></button>
      </div>
      <div class="login-form">
        <h1 class="form-title" translate="authorisation.sign-in.text_sign_in"></h1>
        <form (ngSubmit)="logIntoTheOverview()" id="login-form">
          <div class="form-group">
            <label for="username"><i></i>{{ 'authorisation.sign-in.label_username' | translate }}</label>
            <input type="text" name="username" id="username"
                   placeholder="{{'authorisation.sign-in.placeholder_username' | translate}}" [(ngModel)]="username"
                   required>
          </div>
          <div class="form-group">
            <label for="password"><i></i>{{ 'authorisation.sign-in.label_password' | translate }}</label>
            <input type="password" name="your_pass" id="password"
                   placeholder="{{'authorisation.sign-in.placeholder_password' | translate}}" [(ngModel)]="password"
                   required>
          </div>
          <div class="form-group">
            <input type="submit" name="sign-in" id="login"
                   value="{{'authorisation.sign-in.text_sign_in' | translate}}">
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<imprint></imprint>
