<div class="sign-in-content">
  <section class="sign-in">
    <div class="signin-content">
      <div class="sign-up-place">
        <button (click)="goToSignUp()" id="go-to-sign-up" class="form-submit"
                translate="authorisation.sign-in.text_create_account"></button>
      </div>
      <div class="sign-in-form">
        <form (ngSubmit)="logIntoTheOverview()" id="login-form">
          <h2 class="form-title" translate="authorisation.sign-in.text_sign_in"></h2>
          <div class="form-group">
            <label for="username"><i></i>{{ 'authorisation.sign-in.label_username' | translate }}</label>
            <input type="text" name="username" id="username"
                   placeholder="{{'authorisation.sign-in.placeholder_username' | translate}}" [(ngModel)]="username"
                   required>
          </div>
          <div class="form-group">
            <label for="your_pass"><i></i>{{ 'authorisation.sign-in.label_password' | translate }}</label>
            <input type="password" name="your_pass" id="your_pass"
                   placeholder="{{'authorisation.sign-in.placeholder_password' | translate}}" [(ngModel)]="password"
                   required>
          </div>
          <div class="form-group form-button">
            <input type="submit" name="sign-in" id="sign-in" class="form-submit"
                   value="{{'authorisation.sign-in.text_sign_in' | translate}}">
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<imprint></imprint>
