.color-picker {
  display: flex;
  gap: 10px;
}

.color-ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
}

.selected-color {
  border: 5px solid black !important;
}
