/*
This CSS file provides styles for a color picker component.
It defines the layout and appearance of color balls within the color picker. */

/* Represents the container for the color balls. It uses flexbox to arrange the color balls horizontally with a gap of 10px between them. */
.color-picker {
  display: flex;
  gap: 10px;
}

/* Represents an individual color ball. */
.color-ball {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid;
  box-sizing: border-box;
}

/* Styling for the color balls when hovered over. */
.color-ball:hover {
  filter: brightness(60%);
}

/* Applies styles to the selected color ball. */
.selected-color {
  border-width: 4px;
}

/* Modifies the layout of the color picker for smaller screens by changing the flex-direction to row and allowing the color balls to wrap onto multiple lines. */
@media (max-width: 768px) {
  .color-picker {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
