<!-- Angular form with ngSubmit event -->
<form #entryForm="ngForm" (ngSubmit)="onSubmit(entryForm.value)" class="form">

  <!-- Input for entry name -->
  <div class="form-group">
    <label for="entryName"
           class="form-label">{{ 'logged-in-homepage.categories.subcategories.entries.ui_label_entry_name' | translate }}</label>
    <input type="text" id="entryName" name="entryName"
           placeholder="{{ 'logged-in-homepage.categories.subcategories.entries.create-entry.ui_placeholder_entry_name' | translate }}"
           [(ngModel)]="entry.entryName" class="form-input">
  </div>

  <!-- Textarea for entry description -->
  <div class="form-group">
    <label for="entryDescription"
           class="form-label">{{ 'logged-in-homepage.categories.subcategories.entries.ui_label_entry_description' | translate }}</label>
    <textarea id="entryDescription" name="entryDescription"
              placeholder="{{ 'logged-in-homepage.categories.subcategories.entries.create-entry.ui_placeholder_entry_description' | translate }}"
              [(ngModel)]="entry.entryDescription"
              class="form-input"></textarea>
  </div>

  <!-- Input for entry amount -->
  <div class="form-group">
    <label for="entryAmount"
           class="form-label"><i
      class="required-field">*</i> {{ 'logged-in-homepage.categories.subcategories.entries.ui_label_entry_amount' | translate }}</label>
    <div class="input-with-euro">
      <input type="number" id="entryAmount" name="entryAmount" [(ngModel)]="entry.entryAmount" required
             class="form-input">
      <span class="euro-symbol">{{ 'currency' | translate }}</span>
    </div>
  </div>

  <!-- Input for entry time of transaction -->
  <div class="form-group">
    <label for="entryTimeOfTransaction"
           class="form-label"><i
      class="required-field">*</i> {{ 'logged-in-homepage.categories.subcategories.entries.ui_label_entry_time_of_transaction' | translate }}</label>
    <input type="datetime-local" id="entryTimeOfTransaction" name="entryTimeOfTransaction"
           [(ngModel)]="entry.entryTimeOfTransaction" required class="form-input">
  </div>

  <!-- Input for entry attachment -->
  <div class="form-group">
    <label for="entryAttachment"
           class="form-label">{{ 'logged-in-homepage.categories.subcategories.entries.ui_label_entry_attachment' | translate }}</label>
    <p
      id="entryAttachment">{{ 'logged-in-homepage.categories.subcategories.entries.ui_text_feature_not_available' | translate }}</p>
  </div>

  <!-- Form submission buttons -->
  <div class="form-actions">
    <button type="button" class="cancel-button form-button"
            (click)="goToEntriesPage()">{{ 'logged-in-homepage.cancel-action' | translate }}
    </button>
    <button type="submit"
            class="update-button form-button">{{ 'logged-in-homepage.categories.subcategories.entries.update-entry.ui_button_update_entry' | translate }}
    </button>
  </div>
</form>
