/**
 * Styles for the container of the business card section.
 * Centers the content vertically and horizontally on the page.
 */
.page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 1.5vh;
}

/**
 * Styles for the business card section.
 * Sets the font size and border radius using relative units.
 * Adjusts padding and width for responsiveness.
 */
.business-card {
  font-size: 1.8vw;
  border-radius: 2.5vw;
  background-color: #2b2b2b;
  padding: 2.5vw 2.5vw 2.5vw 0;
  width: 66%;
}

/**
 * Adjust the margin of <pre> elements to offset the default indentation.
 * This ensures that <pre> blocks align correctly with surrounding content.
 */
pre {
  margin-left: -20px;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .business-card {
    font-size: 2.5vw;
    width: 90%;
  }
}

/* Media queries for phone screens */
@media (max-width: 480px) {
  .business-card {
    width: 96%;
    overflow: auto;
  }
}
