<div class="page-div">
  <div class="business-card">
    <pre>
      <span style="color: #cc7730;">public class</span> <span
      style="color: #adbbcb;">{{ 'imprint.contact.text_business_card' | translate }} &#123;</span>
        <span style="color: #cc7730;">public static void</span> <span style="color: #ffa247;">main</span> <span
      style="color: #adbbcb;">(String[] args) &#123;</span>
          <span style="color: #adbbcb;">{{ 'imprint.contact.text_programmer' | translate }} fischer =</span> <span
      style="color: #cc7730;">new</span> <span
      style="color: #adbbcb;">{{ 'imprint.contact.text_programmer' | translate }}()</span><span style="color: #cc7730;">;</span>
          <span style="color: #adbbcb;">fischer.set{{ 'imprint.contact.text_education' | translate }}(</span><span
      style="color: #6a8858;">"HTL Hollabrunn"</span><span style="color: #adbbcb;">)</span><span
      style="color: #cc7730;">;</span>
          <span style="color: #adbbcb;">fischer.setGitHub(</span><span style="color: #6a8858;">'https://github.com/Fischer-Jessica'</span><span
      style="color: #adbbcb;">)</span><span style="color: #cc7730;">;</span>
          <span style="color: #adbbcb;">fischer.setEMail(</span><span style="color: #6a8858;">'Jessica.Fischer.105@gmail.com'</span><span
      style="color: #adbbcb;">)</span><span style="color: #cc7730;">;</span>
        <span style="color: #adbbcb;">&#125;</span>
      <span style="color: #adbbcb;">&#125;</span></pre>
  </div>
</div>
<imprint></imprint>
