<form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" class="category-form">
  <div class="form-group">
    <label for="categoryName"
           class="form-label">{{ 'logged-in-homepage.categories.create-category.label_category_name' | translate }}</label>
    <input type="text" id="categoryName" name="categoryName" [(ngModel)]="category.categoryName" required
           class="form-input">
  </div>

  <div class="form-group">
    <label for="categoryDescription"
           class="form-label">{{ 'logged-in-homepage.categories.create-category.label_category_description' | translate }}</label>
    <textarea id="categoryDescription" name="categoryDescription" [(ngModel)]="category.categoryDescription"
              class="form-textarea"></textarea>
  </div>

  <div class="form-group">
    <label
      class="form-label">{{ 'logged-in-homepage.categories.create-category.label_category_colour' | translate }}</label>
    <app-colour-picker [selectedColourId]="category.categoryColourId"
                       (colourSelected)="onColourSelected($event)"></app-colour-picker>
  </div>

  <div class="form-actions">
    <button type="submit" mat-raised-button
            color="primary">{{ 'logged-in-homepage.categories.update-category.button_update_category' | translate }}
    </button>
    <button type="button" mat-raised-button color="warn"
            (click)="onCancel()">{{ 'logged-in-homepage.cancel-action' | translate }}
    </button>
  </div>
</form>
