.register-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-section {
  background-color: #3586ff;
  padding: 40px;
  border-radius: 10px;
}

.register-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-form {
  font-weight: bolder;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 15px;
}

.form-title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

form > div {
  margin-bottom: 15px;
}

label {
  margin-top: 18px;
  display: block;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #c6e1ff;
  color: #2C5282;
}

#register,
#go-to-login {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  background-color: #4caf50;
}

#register:hover,
#go-to-login:hover {
  background-color: #45a049;
}

.login-div {
  margin-left: 22px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
