<div class="register-container">

  <!-- Register Section -->
  <section class="register-section">

    <!-- Register Content -->
    <div class="register-content">

      <!-- Register Form -->
      <div class="register-form">

        <!-- Form Title -->
        <h1 translate="authentication.register.ui_headline/button_sign_up"></h1>

        <!-- Registration Form -->
        <form (ngSubmit)="insertNewUser()" id="register-form">

          <!-- First Name Input -->
          <div class="form-group">
            <label for="firstName">{{ 'authentication.register.ui_label_first_name' | translate }}</label>
            <input type="text" name="firstName" id="firstName"
                   placeholder="{{ 'authentication.register.ui_placeholder_first_name' | translate }}"
                   [(ngModel)]="newUser.firstName" required>
          </div>

          <!-- Last Name Input -->
          <div class="form-group">
            <label for="lastName">{{ 'authentication.register.ui_label_last_name' | translate }}</label>
            <input type="text" name="lastName" id="lastName"
                   placeholder="{{ 'authentication.register.ui_placeholder_last_name' | translate }}"
                   [(ngModel)]="newUser.lastName" required>
          </div>

          <!-- Username Input -->
          <div class="form-group">
            <label for="username">{{ 'authentication.register.ui_label_username' | translate }}</label>
            <input type="text" name="username" id="username"
                   placeholder="{{ 'authentication.register.ui_placeholder_username' | translate }}"
                   [(ngModel)]="newUser.username" required>
          </div>

          <!-- Email Address Input -->
          <div class="form-group">
            <label for="email">{{ 'authentication.register.ui_label_email' | translate }}</label>
            <input type="email" name="email" id="email"
                   placeholder="{{ 'authentication.register.ui_placeholder_email' | translate }}"
                   [(ngModel)]="newUser.emailAddress" required>
          </div>

          <!-- Password Input -->
          <div class="form-group">
            <label for="password">{{ 'authentication.register.ui_label_password' | translate }}</label>
            <input id="password" name="password"
                   placeholder="{{ 'authentication.register.ui_placeholder_password' | translate }}"
                   type="password"
                   [(ngModel)]="newUser.password" required>
          </div>

          <!-- Register Button -->
          <div class="form-group">
            <input type="submit" name="register" id="register"
                   value="{{ 'authentication.register.ui_headline/button_sign_up' | translate }}">
          </div>

        </form>
        <!-- End Registration Form -->

      </div>
      <!-- End Register Form -->

      <!-- Login Button Container -->
      <div class="login-button-container">
        <button id="go-to-login" routerLink="/authentication/login"
                translate="authentication.register.ui_button_login"></button>
      </div>
      <!-- End Login Button Container -->

    </div>
    <!-- End Register Content -->

  </section>
  <!-- End Register Section -->

</div>
<!-- End Register Container -->

<imprint></imprint>
