<!-- Headline for subcategories -->
<h1>{{ 'logged-in-homepage.categories.subcategories.ui_headline_subcategories' | translate }}</h1>

<!-- Button to add a new subcategory -->
<button class="create-button headline-button" (click)="goToCreateSubcategoryPage()">
  {{ 'logged-in-homepage.categories.subcategories.create-subcategory.ui_button_create_subcategory' | translate }}
</button>

<!-- Button to return to categories -->
<button class="cancel-button headline-button" routerLink='/logged-in-homepage/categories'>
  {{ 'logged-in-homepage.categories.subcategories.ui_button_return_categories' | translate }}
</button>

<!-- Text describing the user's subcategories -->
<p>{{ 'logged-in-homepage.categories.subcategories.ui_text_your_subcategories' | translate }} {{ this.categoryId }}</p>

<!-- Container for displaying subcategories -->
<div *ngIf="subcategoriesData && subcategoriesData.length > 0; else noSubcategories" class="item-container">
  <!-- Loop through each subcategory and display its details -->
  <div *ngFor="let subcategoryData of subcategoriesData" class="item">
    <mat-card class="item-card">
      <!-- Card header containing subcategory details -->
      <mat-card-header (click)="goToEntriesPage(subcategoryData.subcategory.subcategoryId)">
        <!-- Dot representing subcategory color -->
        <div class="colour-dot" [style.background-color]="'#' + subcategoryData.subcategoryColourHex"></div>
        <!-- Subcategory name -->
        <mat-card-title>{{ subcategoryData.subcategory.subcategoryName }}</mat-card-title>
        <!-- Subcategory value -->
        <mat-card-subtitle class="sub-category-value"
                           *ngIf="subcategoryData.subcategorySum !== undefined && subcategoryData.subcategorySum !== null; else noValue"
                           [ngClass]="{'positive': subcategoryData.subcategorySum > 0, 'negative': subcategoryData.subcategorySum < 0, 'neutral': subcategoryData.subcategorySum === 0}">
          {{ subcategoryData.subcategorySum }} €
        </mat-card-subtitle>
        <ng-template #noValue>
          <mat-card-subtitle>{{ 'logged-in-homepage.categories.subcategories.ui_text_no_subcategory_sum' | translate }}</mat-card-subtitle>
        </ng-template>
        <!-- Subcategory description -->
        <mat-card-subtitle>{{ subcategoryData.subcategory.subcategoryDescription }}</mat-card-subtitle>
      </mat-card-header>
      <!-- Button to delete the subcategory -->
      <button class="delete-button item-button" (click)="deleteSubcategory(subcategoryData.subcategory.subcategoryId)">
        {{ 'logged-in-homepage.button_delete' | translate }}
      </button>
      <!-- Button to update the subcategory -->
      <button
        routerLink='/logged-in-homepage/update-subcategory/{{ categoryId }}/{{ subcategoryData.subcategory.subcategoryId }}'
        class="update-button item-button">{{ 'logged-in-homepage.button_update' | translate }}
      </button>
    </mat-card>
  </div>
</div>

<!-- Template for when there are no subcategories to display -->
<ng-template #noSubcategories>
  <p>{{ 'logged-in-homepage.categories.subcategories.ui_text_no_subcategories' | translate }}</p>
</ng-template>
