.subcategory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow: scroll;
  height: 566px;
}

.subcategory-item {
  flex: 1 1 calc(33.33% - 16px);
  max-width: calc(33.33% - 16px);
}

.card {
  min-height: 100px;
  border: #111111 2px solid;
  background: #40476D;
  filter: brightness(3);
}

.dot {
  content: "";
  display: inline-block;
  border: #111111 2px solid;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  margin-right: 10px;
}

.delete,
.edit {
  display: inline-block;
  border: 2px solid;
  width: 66px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 77%;
  transform: translateY(-50%);
  border-radius: 5px;
  filter: brightness(1);
  font-weight: bold;
}

.delete {
  margin-right: 10px;
  background: red;
}

.edit {
  margin-right: 80px;
  background: green;
}
