/* category-list.component.css */
.subcategory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Abstand zwischen den Kategorien anpassen */
}

.subcategory-item {
  flex: 1 1 calc(33.33% - 16px); /* Hier wird die Breite auf 33.33% gesetzt, minus der Abstand */
  max-width: calc(33.33% - 16px); /* Maximalbreite, um zu verhindern, dass sich Kategorien strecken */
}

.card {
  min-height: 111px;
  border: #111111 2px solid;
  background: #e2f2e1;
}

.dot {
  content: ""; /* Füge leeres Inhaltsattribut hinzu */
  display: inline-block;
  border: #111111 1px solid;
  width: 33px; /* Passe die Breite an deine Anforderungen an */
  height: 33px; /* Passe die Höhe an deine Anforderungen an */
  border-radius: 50%;
  position: absolute;
  right: 0; /* Platziere es am rechten Ende der .card */
  top: 30%; /* Zentriere es vertikal auf der .card */
  transform: translateY(-50%); /* Korrigiere die vertikale Ausrichtung */
  margin-right: 10px; /* Füge den gewünschten Abstand zur Überschrift hinzu */
}

.delete {
  display: inline-block;
  border: #8B0000 3px solid;
  width: 66px; /* Passe die Breite an deine Anforderungen an */
  height: 26px; /* Passe die Höhe an deine Anforderungen an */
  position: absolute;
  right: 0; /* Platziere es am rechten Ende der .card */
  top: 77%; /* Zentriere es vertikal auf der .card */
  transform: translateY(-50%); /* Korrigiere die vertikale Ausrichtung */
  margin-right: 10px; /* Füge den gewünschten Abstand zur Überschrift hinzu */
  background: red;
}

.edit {
  display: inline-block;
  border: #466D1D 3px solid;
  width: 66px; /* Passe die Breite an deine Anforderungen an */
  height: 26px; /* Passe die Höhe an deine Anforderungen an */
  position: absolute;
  right: 0; /* Platziere es am rechten Ende der .card */
  top: 77%; /* Zentriere es vertikal auf der .card */
  transform: translateY(-50%); /* Korrigiere die vertikale Ausrichtung */
  margin-right: 77px; /* Füge den gewünschten Abstand zur Überschrift hinzu */
  background: #99EDC3;
}
