<!-- category-list.component.html -->
<h2>Subcategories</h2>
<button mat-raised-button color="primary" routerLink='/logged-in-homepage/add-subcategory'>New Subcategory</button>
<button mat-raised-button color="warn" routerLink='/logged-in-homepage/logged-in-categories'>Return to Categories</button>
<div *ngIf="subcategories && subcategories.length > 0; else noSubcategories" class="category-container">
  <div *ngFor="let subcategory of subcategories" class="subcategory-item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ subcategory.subcategoryName }}</mat-card-title>
        <mat-card-subtitle>{{ subcategory.subcategoryDescription }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h5>HELL YEAH</h5>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noSubcategories>
  <p>No subcategories available.</p>
</ng-template>
