<!--
  Form for updating user information.
  Binds input fields to user object properties using ngModel for two-way data binding.
  Calls onSubmit method on form submission.
-->
<form #userForm="ngForm" class="form" (ngSubmit)="onSubmit(userForm)">
  <div class="form-group">
    <label for="username" class="form-label">{{ 'authentication.register.ui_label_username' | translate }}</label>
    <input type="text" id="username" name="username" [(ngModel)]="user.username" required class="form-input">
  </div>

  <div class="form-group">
    <label for="password" class="form-label">{{ 'authentication.register.ui_label_password' | translate }}</label>
    <input type="password" id="password" name="password" [(ngModel)]="user.password" required class="form-input">
  </div>

  <div class="form-group">
    <label for="email" class="form-label">{{ 'authentication.register.ui_label_email' | translate }}</label>
    <input type="email" id="email" name="email" [(ngModel)]="user.emailAddress" class="form-input">
  </div>

  <div class="form-group">
    <label for="firstName" class="form-label">{{ 'authentication.register.ui_label_first_name' | translate }}</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" class="form-input">
  </div>

  <div class="form-group">
    <label for="lastName" class="form-label">{{ 'authentication.register.ui_label_last_name' | translate }}</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" class="form-input">
  </div>

  <!-- Form actions including buttons for deleting user, updating user, and logging out -->
  <div class="form-actions">
    <button class="delete-button form-button"
            (click)="deleteUser()">{{ 'logged-in-homepage.user.ui_button_delete_user' | translate }}
    </button>
    <button type="submit"
            class="update-button form-button">{{ 'logged-in-homepage.user.ui_button_update_user' | translate }}
    </button>
    <button class="goBack-button form-button"
            (click)="logout()">{{ 'logged-in-homepage.user.ui_button_logout' | translate }}
    </button>
  </div>
</form>
