<div id="navbar-animmenu">
  <ul class="show-dropdown main-navbar">
    <script src="./logged-in-homepage-navbar.js"></script>
    <div class="hori-selector">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <li>
      <img id="navbar-logo" src="../../../assets/logos/Logo.ico">
    </li>
    <li>
      <a routerLink="/logged-in-overview"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
    </li>
    <li>
      <a routerLink="/logged-in-categories"><i class="far fa-clone"></i>Categories</a>
    </li>
    <li>
      <a routerLink="/logged-in-labels"><i class="far fa-calendar-alt"></i>Labels</a>
    </li>
    <li>
      <a routerLink="/logged-in-diagrams"><i class="far fa-chart-bar"></i>Charts</a>
    </li>


  </ul>
</div>
