.login-div {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 1em;
}

.login-section {
  background-color: #3586ff;
  padding: 40px;
  border-radius: 10px;
}

.login-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-div {
  margin-right: 22px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 15px;
}

.form-title {
  font-weight: bolder;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

form > div {
  margin-bottom: 15px;
}

label {
  margin-top: 18px;
  display: block;
  color: #fff;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #c6e1ff;
  color: #2C5282;
}

#login,
#go-to-register {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  background-color: #4caf50;
}

#login:hover,
#go-to-register:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .login-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login-form {
    width: 88%;
  }

  .register-div {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}
