<form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm.value)">
  <label for="categoryName">Category Name:</label>
  <input type="text" id="categoryName" name="categoryName" [(ngModel)]="category.categoryName" required>
  <br>

  <label for="categoryDescription">Category Description:</label>
  <textarea id="categoryDescription" name="categoryDescription" [(ngModel)]="category.categoryDescription"></textarea>
  <br>

  <app-colour-picker (colourSelected)="onColourSelected($event)"></app-colour-picker>
  <br>

  <button type="submit" mat-raised-button color="primary">Submit</button>
  <button type="cancel" mat-raised-button color="warn" routerLink='/logged-in-homepage/categories'>Cancel</button>
</form>
