<h2>{{ 'logged-in-homepage.categories.headline_categories' | translate }}</h2>
<button mat-raised-button color="primary"
        routerLink='/logged-in-homepage/create-category'>{{ 'logged-in-homepage.categories.button_create_category' | translate }}
</button>
<p>{{ 'logged-in-homepage.categories.text_your_categories' | translate }}</p>
<div *ngIf="categoriesData && categoriesData.length > 0; else noCategories" class="category-container">
  <div *ngFor="let category of categoriesData" class="category-item">
    <mat-card class="card">
      <mat-card-header id="header" (click)="showSubcategories(category.category.categoryId)">
        <div class="dot" [style.background-color]="'#' + category.colourHex"></div>
        <mat-card-title>{{ category.category.categoryName }}</mat-card-title>
        <mat-card-subtitle>{{ category.category.categoryDescription }}</mat-card-subtitle>
      </mat-card-header>
      <button class="delete"
              (click)="deleteCategory(category.category.categoryId)">{{ 'logged-in-homepage.button_delete' | translate }}
      </button>
      <button routerLink='/logged-in-homepage/update-category/{{ category.category.categoryId }}'
              class="edit">{{ 'logged-in-homepage.button_update' | translate }}
      </button>
    </mat-card>
  </div>
</div>
<ng-template #noCategories>
  <p>{{ 'logged-in-homepage.categories.text_no_categories' | translate }}</p>
</ng-template>
