display-flex,
.display-flex,
.display-flex-center,
.signup-content {
  display:flex;
  display:-webkit-flex
}
img {
  max-width:100%;
  height:auto
}
h2 {
  line-height:1.66;
  margin:0;
  padding:0;
  font-weight:700;
  color:#222;
  font-family:Poppins;
  font-size:36px
}
.main {
  background:#f0fff0;
  padding:50px 0
}
body {
  font-size:13px;
  line-height:1.8;
  color:#222;
  background:#f8f8f8;
  font-weight:400;
  font-family:Poppins
}
.container {
  width:900px;
  background:#fff;
  margin:0 auto;
  box-shadow:0 15px 16.83px .17px rgba(0,0,0,.05);
  -moz-box-shadow:0 15px 16.83px .17px rgba(0,0,0,.05);
  -webkit-box-shadow:0 15px 16.83px .17px rgba(0,0,0,.05);
  -o-box-shadow:0 15px 16.83px .17px rgba(0,0,0,.05);
  border-radius:20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
}
.signup {
  margin-bottom:20px
}
.signup-content {
  padding:75px 0
}
.signup-image {
  margin:0 55px
}
.form-title {
  margin-bottom:33px
}
.signup-image {
  margin-top:45px
}
.form-submit {
  display:inline-block;
  background:#6dabe4;
  color:#fff;
  border-bottom:none;
  width:auto;
  padding:15px 39px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  margin-top:25px;
  cursor:pointer
}
.form-submit:hover {
  background:#4292dc
}
.signup-image-link {
  font-size:14px;
  color:#222;
  display:block;
  text-align:center
}
.term-service {
  font-size:13px;
  color:#222
}
.signup-form {
  margin-left:75px;
  margin-right:75px;
  padding-left:34px
}
.register-form {
  width:100%
}
.form-group {
  position:relative;
  margin-bottom:25px;
  overflow:hidden
}
.form-group:last-child {
  margin-bottom:0
}
input {
  width:100%;
  display:block;
  border:none;
  border-bottom:1px solid #999;
  padding:6px 30px;
  font-family:"Times New Roman";
  box-sizing:border-box
}
input[type=checkbox]:not(old) {
  width:2em;
  margin:0;
  padding:0;
  font-size:1em;
  display:none
}
input[type=checkbox]:not(old)+label {
  display:inline-block;
  line-height:1.5em;
  margin-top:6px
}
input[type=checkbox]:not(old)+label>span {
  display:inline-block;
  width:13px;
  height:13px;
  margin-right:15px;
  margin-bottom:3px;
  border:1px solid #999;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -o-border-radius:2px;
  -ms-border-radius:2px;
  background:#fff;
  background-image:-moz-linear-gradient(white,white);
  background-image:-ms-linear-gradient(white,white);
  background-image:-o-linear-gradient(white,white);
  background-image:-webkit-linear-gradient(white,white);
  background-image:linear-gradient(white,white);
  vertical-align:bottom
}
input[type=checkbox]:not(old):checked+label>span:before {
  content:'\f26b';
  display:block;
  color:#222;
  font-size:11px;
  line-height:1.2;
  text-align:center;
  font-family:material-design-iconic-font;
  font-weight:700
}
@media screen and (max-width:1200px) {
  .container {
    width:calc( 100% - 30px);
    max-width:100%
  }
}
@media screen and (min-width:1024px) {
  .container {
    max-width:1200px
  }
}
@media screen and (max-width:768px) {
  .signup-content,
  .signup-content {
    flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    justify-content:center;
    -webkit-justify-content:center;
  }
  .signup-form {
    margin-left:0;
    margin-right:0;
  }
  .signup-image {
    margin-left:0;
    margin-right:0;
    margin-top:50px;
    order:2;
  }
  .signup-form,
  .signup-image {
    width:auto
  }
  .form-button {
    text-align:center
  }
  .form-title {
    text-align:center
  }
}
