<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="column" id="about">
        <h6>About</h6>
        <p class="text-justify">FinancialOverview.com <i>Trust is good, control is better.</i> With our user-friendly
          interface, you can effortlessly track your bank accounts, credit cards, and expenses, gaining valuable
          insights into your financial health. We believe that having a clear overview of your finances is essential to
          making informed decisions and securing a stable financial future.</p>
      </div>

      <div class="column">
        <h6>App</h6>
        <ul class="footer-links">
          <p>We have an own app!</p>
        </ul>
      </div>

      <div class="column">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Home</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
          <a href="#">Scanfcode</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
