<h2>Entries</h2>
<button mat-raised-button color="warn" routerLink='/logged-in-homepage/labels'>Return to Labels</button>
<p>Dies sind die Entries mit dem Label mit der Id: {{ labelId }}</p>
<div *ngIf="entries && entries.length > 0; else noEntries" class="entry-container">
  <div *ngFor="let entry of entries" class="entry-item">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ entry.entryName }}</mat-card-title>
        <mat-card-subtitle>{{ entry.entryDescription }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h5>{{ entry.entryAmount }}</h5>
        <h6>{{ entry.entryTimeOfTransaction }}</h6>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noEntries>
  <p>No entries available.</p>
</ng-template>
