.entry-container {
  gap: 16px;
  overflow: scroll;
  height: 566px;
}

.card {
  border: #111111 2px solid;
  color: black;
  margin-bottom: 5px;
  height: 156px;
  background: #a6accb;
}

mat-card-subtitle {
  margin-top: 22px;
  font-size: 19px;
  color: black;
}

mat-card-content {
  margin-top: 17px;
  font-size: 17px;
  color: black;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert die Elemente vertikal */
  align-items: center;
}

.elements-right-column {
  padding: 25px;
}

.mat-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Abstand zwischen den Spalten */
}

.remove {
  display: inline-block;
  border: 3px solid;
  width: 222px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 88%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  background: red;
}
