.card {
  color: black;
  background: #a6accb;
}

.remove {
  display: inline-block;
  border: 3px solid;
  width: 222px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 88%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  background: red;
}
