<!-- TODO: Eigentlich sollte ich anstatt ein eigenes Entry zu machen das bereits erstellte verwenden und je nach Route anders darstellen. -->

<h2>{{ 'logged-in-homepage.labels.label-entries.headline_label_entries' | translate }}</h2>
<button mat-raised-button color="warn"
        routerLink='/logged-in-homepage/labels'>{{ 'logged-in-homepage.labels.label-entries.button_return_to_labels' | translate }}
</button>
<p>{{ 'logged-in-homepage.labels.label-entries.text_your_label_entries' | translate }} {{ labelId }}</p>
<div *ngIf="entries && entries.length > 0; else noEntries" class="entry-container">
  <div *ngFor="let entry of entries" class="entry-item">
    <mat-card class="card">
      <div class="mat-card-content">
      <mat-card-header>
        <mat-card-title>{{ 'logged-in-homepage.categories.subcategories.entries.label_entry_name'| translate }} {{ entry.entryName }}</mat-card-title>
        <mat-card-subtitle>{{ 'logged-in-homepage.categories.subcategories.entries.label_entry_description'| translate }} {{ entry.entryDescription }}</mat-card-subtitle>
        <mat-card-subtitle>{{ 'logged-in-homepage.categories.subcategories.entries.label_entry_amount'| translate }} {{ entry.entryAmount }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'logged-in-homepage.categories.subcategories.entries.label_entry_date' | translate }} {{ entry.entryTimeOfTransaction }}</p>
        <p>{{ 'logged-in-homepage.categories.subcategories.entries.label_entry_creation_date' | translate }} {{ entry.entryCreationTime }}</p>
        <p>{{ 'logged-in-homepage.categories.subcategories.entries.label_entry_attachment' | translate }} {{ entry.entryAttachment }}</p>
      </mat-card-content>
      <div class="right-column">
        <div class="elements-right-column">
          <button class="remove"
                  (click)="removeEntry(entry.entryId)">{{ 'logged-in-homepage.labels.label-entries.button_remove_entry' | translate }}
          </button>
        </div>
      </div>
      </div>
    </mat-card>
  </div>
</div>
<ng-template #noEntries>
  <p>{{ 'logged-in-homepage.labels.label-entries.text_no_label_entries' | translate }}</p>
</ng-template>
