<h2>{{ 'logged-in-homepage.labels.label-entries.headline_label_entries' | translate }}</h2>
<button mat-raised-button color="warn"
        routerLink='/logged-in-homepage/labels'>{{ 'logged-in-homepage.labels.label-entries.button_return_to_labels' | translate }}
</button>
<p>{{ 'logged-in-homepage.labels.label-entries.text_your_label_entries' | translate }} {{ labelId }}</p>
<div *ngIf="entries && entries.length > 0; else noEntries" class="entry-container">
  <div *ngFor="let entry of entries" class="entry-item">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ entry.entryName }}</mat-card-title>
        <mat-card-subtitle>{{ entry.entryDescription }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h5>{{ entry.entryAmount }}</h5>
        <h6>{{ entry.entryTimeOfTransaction }}</h6>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noEntries>
  <p>{{ 'logged-in-homepage.labels.label-entries.text_no_label_entries' | translate }}</p>
</ng-template>
