/** Styles for the page container. */
.page-div {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/** Styles for the page title. */
.page-title {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/** Styles for level 2 headings. */
h2 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

/** Styles for the team members section. */
.team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
}

/** Styles for individual team members. */
.team-member {
  margin: 1rem;
  cursor: pointer;
}

/** Styles for figure elements. */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 333px;
  margin: 0 auto;
}

/** Styles for images. */
img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

/** Styles for figure captions. */
figcaption {
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  max-width: 100%;
}

/** Styles for team members section on larger screens. */
@media (min-width: 768px) {
  .team-members {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
