<div class="page-div">
  <!-- Page title -->
  <div class="page-title">
    <h1>{{ 'imprint.team.ui_headline_team' | translate }}</h1>
  </div>
  <!-- Page content -->
  <!-- Project team -->
  <h2>{{ 'imprint.team.ui_headline_project_team' | translate }}</h2>
    <div class="team-members">
      <figure>
        <img routerLink="/contact" src="./assets/team-images/project-team/project-founder.jpg" width="333"
             height="333" class="team-member">
        <figcaption>Fischer || {{ 'imprint.team.ui_caption_project_member__founder' | translate }}</figcaption>
      </figure>
      <figure>
        <img routerLink="/contact" src="./assets/team-images/project-team/member_iOS.jpg" width="333"
             height="333" class="team-member">
        <figcaption>Muth || {{ 'imprint.team.ui_caption_project_member__ios' | translate }}</figcaption>
      </figure>
      <figure>
        <img routerLink="/contact" src="./assets/team-images/project-team/member_android.jpg" width="333"
             height="333" class="team-member">
        <figcaption>Fiedler || {{ 'imprint.team.ui_caption_project_member__android' | translate }}</figcaption>
      </figure>
    </div>
  <!-- Backend team -->
  <h2>{{ 'imprint.team.ui_headline_backend_team' | translate }}</h2>
    <div class="team-members">
      <figure>
        <img routerLink="/contact" src="./assets/team-images/team-backend/backend-programmer.jpg" width="333"
             height="333"
             class="team-member">
        <figcaption>Fischer || {{ 'imprint.team.ui_caption_backend_member__programmer' | translate }}</figcaption>
      </figure>
      <figure>
        <img routerLink="/contact" src="./assets/team-images/team-backend/backend-database-designer.jpg"
             width="333" height="333"
             class="team-member">
        <figcaption>Fischer || {{ 'imprint.team.ui_caption_backend_member__database' | translate }}</figcaption>
      </figure>
      <figure>
        <img routerLink="/contact" src="./assets/team-images/team-backend/backend-support.jpg" width="333"
             height="333" class="team-member">
        <figcaption>Fischer || {{ 'imprint.team.ui_caption_backend_member__support' | translate }}</figcaption>
      </figure>
    </div>
  <!-- Website team -->
  <h2>{{ 'imprint.team.ui_headline_website_team' | translate }}</h2>
    <div class="team-members">
      <figure>
        <img routerLink="/contact" src="./assets/team-images/team-website/website-programmer.jpg" width="333"
             height="333"
             class="team-member">
        <figcaption>Fischer || {{ 'imprint.team.ui_caption_website_member__programmer' | translate }}</figcaption>
      </figure>
      <figure>
        <img routerLink="/contact" src="./assets/team-images/team-website/website-designer.jpg" width="333"
             height="333" class="team-member">
        <figcaption>Fischer || {{ 'imprint.team.ui_caption_website_member__designer' | translate }}</figcaption>
      </figure>
      <figure>
        <img routerLink="/contact" src="./assets/team-images/team-website/website-marketing.jpg" width="333"
             height="333" class="team-member">
        <figcaption>Fischer || {{ 'imprint.team.ui_caption_website_member__marketing' | translate }}</figcaption>
      </figure>
  </div>
</div>
<imprint></imprint>
