<ul>
  <!-- Logo item -->
  <li>
    <img src="../../../assets/logos/Logo.ico" width="45" height="45" routerLink="/logged-in-homepage/categories">
  </li>
  <!-- Navigation items with router links -->
  <li [class.active]="isActive('/logged-in-homepage/categories')">
    <a routerLink="/logged-in-homepage/categories">{{ 'logged-in-homepage.navbar.ui_link_categories' | translate }}</a>
  </li>
  <li [class.active]="isActive('/logged-in-homepage/labels')">
    <a routerLink="/logged-in-homepage/labels">{{ 'logged-in-homepage.navbar.ui_link_labels' | translate }}</a>
  </li>
  <!-- User navigation item with router link -->
  <li [class.active]="isActive('/logged-in-homepage/user')" class="user">
    <a routerLink="/logged-in-homepage/user">{{ 'logged-in-homepage.navbar.ui_link_user' | translate }}</a>
  </li>
</ul>
