ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #3586ff;
  border-radius: 22px;
}

img {
  padding-left: 10px;
  padding-top: 8px;
  padding-right: 10px;
}

li {
  float: left;
  margin-left: 5px;
}

li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  font-size: 22px;
  text-decoration: none;
}

li a:hover {
  background-color: #4C94FF;
}
