/* Styles for the unordered list */
ul {
  list-style-type: none;
  margin: 0px 10px 30px;
  padding: 0;
  overflow: hidden;
  background-color: #3586ff;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Styles for list items */
li {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* Styles for images */
img {
  padding: 8px 10px;
}

/* Styles for links within list items */
li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  font-size: 22px;
  text-decoration: none;
}

/* Hover styles for links */
li:hover {
  border-radius: 22px;
  background-color: #2A6BCC;
}

/* Styles for active list items */
.active {
  border-radius: 22px;
  background-color: #1F5099;
}

/* Hover styles for active list items */
.active:hover {
  background-color: #1F5099;
}

/* Styles for user-specific list item */
.user {
  margin-left: auto;
}

/* Media query for smaller screens */
@media screen and (max-width: 666px) {
  .logo {
    display: none;
  }

  ul {
    justify-content: flex-start;
  }

  li {
    margin-left: 1px;
  }

  li a {
    padding-left: 7px;
    padding-right: 7px;
  }
}
