/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: #FADDDD;
    --mat-mdc-snack-bar-button-color: #893232;
    --mdc-snackbar-supporting-text-color: #893232;
  }

  &.info-snackbar {
    --mdc-snackbar-container-color: #D5F1DE;
    --mat-mdc-snack-bar-button-color: #1C6E37;
    --mdc-snackbar-supporting-text-color: #1C6E37;
  }

  &.missing-snackbar {
    --mdc-snackbar-container-color: #FEEFD0;
    --mat-mdc-snack-bar-button-color: #866E39;
    --mdc-snackbar-supporting-text-color: #866E39;
  }

  &.invalid-snackbar {
    --mdc-snackbar-container-color: #FADDDD;
    --mat-mdc-snack-bar-button-color: #893232;
    --mdc-snackbar-supporting-text-color: #893232;
  }
}
