<div class="sign-up-content">
  <section class="signup">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title" translate="authorisation.sign-up.headline_sign_up"></h2>
        <form (ngSubmit)="insertNewUserInAPI()" id="register-form">
          <div>
            <label for="firstName"></label>
            <input type="text" name="firstName" id="firstName"
                   placeholder="{{'authorisation.sign-up.placeholder_first_name' | translate}}"
                   [(ngModel)]="newUser.firstName" required>
          </div>
          <div>
            <label for="lastName"></label>
            <input type="text" name="lastName" id="lastName"
                   placeholder="{{'authorisation.sign-up.placeholder_last_name' | translate}}"
                   [(ngModel)]="newUser.lastName" required>
          </div>
          <div>
            <label for="username"><i></i></label>
            <input type="text" name="username" id="username"
                   placeholder="{{'authorisation.sign-up.placeholder_username' | translate}}"
                   [(ngModel)]="newUser.username" required>
          </div>
          <div>
            <label for="email"><i></i></label>
            <input type="email" name="email" id="email"
                   placeholder="{{'authorisation.sign-up.placeholder_email' | translate}}"
                   [(ngModel)]="newUser.emailAddress" required>
          </div>
          <div>
            <label for="pass"><i></i></label>
            <input type="password" name="pass" id="pass"
                   placeholder="{{'authorisation.sign-up.placeholder_password' | translate}}"
                   [(ngModel)]="newUser.password" required>
          </div>
          <div class="form-button">
            <input type="submit" name="signup" id="signup"
                   value="{{'authorisation.sign-up.button_sign_up' | translate}}">
          </div>
        </form>
      </div>
      <div class="sign-in-place">
        <button (click)="goToSignIn()" id="go-to-sign-in" translate="authorisation.sign-up.text_sign_in"></button>
      </div>
    </div>
  </section>
</div>
<imprint></imprint>
