.sign-up-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #40476D;
}

.signup {
  background-color: #59BA47;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-form {
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 15px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

form > div {
  margin-bottom: 15px;
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #ccc;
}

#signup,
#go-to-sign-in {
  border: none;
  border-radius: 5px;
  background-color: #4C94FF;
  color: #fff;
  cursor: pointer;
}

#go-to-sign-in {
  margin-left: 40px;
}

.sign-in-place {
  margin-left: 22px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
